# Entornos virtuales Python
venv/
*/venv/
**/venv/

# Node / Cypress
node_modules/
*/node_modules/
**/node_modules/

# PyCharm
.idea/

# Python cache
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc

# Pytest cache
.pytest_cache/
*/.pytest_cache/
**/.pytest_cache/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env